.rainbow:hover {
	-webkit-animation:rainbow 1s infinite;
	-ms-animation:rainbow 1s infinite;
	-o-animation:rainbow 1s infinite;
	animation:rainbow 1s infinite;
}

/* font rainbow */

@-webkit-keyframes rainbow {
0% {color: #D64541;border-color: #D64541;}
10% {color: #F89406;border-color: #F89406;}
20% {color: #F7CA18;border-color: #F7CA18;}
30% {color: #87D37C;border-color: #87D37C;}
40% {color: #3FC380;border-color: #3FC380;}
50% {color: #16A085;border-color: #16A085;}
60% {color: #22A7F0;border-color: #22A7F0;}
70% {color: #4183D7;border-color: #4183D7;}
80% {color: #3A539B;border-color: #3A539B;}
90% {color: #674172;border-color: #674172;}
100% {color: #8E44AD;border-color: #8E44AD;}
}
@-ms-keyframes rainbow {
0% {color: #D64541;border-color: #D64541;}
10% {color: #F89406;border-color: #F89406;}
20% {color: #F7CA18;border-color: #F7CA18;}
30% {color: #87D37C;border-color: #87D37C;}
40% {color: #3FC380;border-color: #3FC380;}
50% {color: #16A085;border-color: #16A085;}
60% {color: #22A7F0;border-color: #22A7F0;}
70% {color: #4183D7;border-color: #4183D7;}
80% {color: #3A539B;border-color: #3A539B;}
90% {color: #674172;border-color: #674172;}
100% {color: #8E44AD;border-color: #8E44AD;}
}
@-o-keyframes rainbow {
0% {color: #D64541;border-color: #D64541;}
10% {color: #F89406;border-color: #F89406;}
20% {color: #F7CA18;border-color: #F7CA18;}
30% {color: #87D37C;border-color: #87D37C;}
40% {color: #3FC380;border-color: #3FC380;}
50% {color: #16A085;border-color: #16A085;}
60% {color: #22A7F0;border-color: #22A7F0;}
70% {color: #4183D7;border-color: #4183D7;}
80% {color: #3A539B;border-color: #3A539B;}
90% {color: #674172;border-color: #674172;}
100% {color: #8E44AD;border-color: #8E44AD;}
}
@keyframes rainbow {
0% {color: #D64541;border-color: #D64541;}
10% {color: #F89406;border-color: #F89406;}
20% {color: #F7CA18;border-color: #F7CA18;}
30% {color: #87D37C;border-color: #87D37C;}
40% {color: #3FC380;border-color: #3FC380;}
50% {color: #16A085;border-color: #16A085;}
60% {color: #22A7F0;border-color: #22A7F0;}
70% {color: #4183D7;border-color: #4183D7;}
80% {color: #3A539B;border-color: #3A539B;}
90% {color: #674172;border-color: #674172;}
100% {color: #8E44AD;border-color: #8E44AD;}
}