@import url(http://fonts.googleapis.com/css?family=Roboto:300,400);
header {
    position: relative;
}

header nav {
    font-size: 120%;
    position: absolute;
    right: 0;
    top: 20px;
}

header nav ul {
    padding: 0;
    margin: 0;
}

header nav li {
    display: inline-block;
    margin: 0 0.5em;
    vertical-align: middle;
}

header a {
    color: inherit;
}

body {
    font: normal 100% Roboto, sans-serif;
    margin: 0;
    color: #555;
}

body > * {
    width: 790px;
    padding: 20px;
    margin: 20px auto;
    background: white;
}

.footer {
    font-size: 80%; 
    text-align: right;
}

.social a {
    color: #3F72AF;
    text-decoration: none;
    padding-left: 5px;
    padding-right: 20px;
}

a {
    color: #3F72AF;
    text-decoration: none;
}

a:hover {
  color: #4AA0D5;
  background-color: transparent;
}

h1 a {
    color: inherit;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: 300;
}

ul {
    list-style-type: disc;
    padding: 0 1em;
    font-weight: 300;
}

.circular {
  border-radius: 50%;
}

.glyphicon {
    font-size: 2em;
}

img {
  opacity: 1;
  transition: opacity 0.3s;
}

img[data-src] {
  opacity: 0;
}

@media only screen and (min-device-width: 200px) and (max-device-width: 800px) and (-webkit-min-device-pixel-ratio: 2){
    .social {
    	padding-left: 13em;
    }

    .email {
    	padding-left: 6em;
    }

    nav li {
    	font-size: 1.5em;
    }

    i {
    	padding-right: 1em;
    }
}

@media (min-width:768px) {
    .col-sm-4 {
        word-spacing: normal;
        vertical-align: top;
        letter-spacing: normal;
        display: inline-block;
        float:none;
    }
}
@media (min-width:992px) {
    .col-md-3 {
        float:none;
    }
}
