<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->
<link rel="apple-touch-icon" sizes="180x180" href="{{ base.url }}/assets/images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{ base.url }}/assets/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{ base.url }}/assets/images/favicon-16x16.png">
<link rel="manifest" href="{{ base.url }}/assets/images/site.webmanifest">
<link rel="mask-icon" href="{{ base.url }}/assets/images/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#2b5797">
<meta name="theme-color" content="#ffffff">
<!-- end custom head snippets -->
{% if page.portfolio %}
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
  <script type="text/javascript" src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
  <script type="text/javascript" src="/assets/js/portfolio_masonry.js"></script>
  <link rel="stylesheet" type="text/css" href="{{ base.url }}/assets/css/mrw_parallax.css" />
  <link rel="stylesheet" type="text/css" href="{{ base.url }}/assets/css/ball-triangle-path.min.css" />
{% endif %}
{% if page.home %}
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{{ base.url }}/assets/css/mrw_parallax.css" />
  <link rel="stylesheet" type="text/css" href="{{ base.url }}/assets/css/ball-triangle-path.min.css" />
  <link rel="stylesheet" href="https://unpkg.com/balloon-css/balloon.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tween.js/16.3.5/Tween.min.js"></script>
  <script type="text/javascript" src="{{ base.url }}/assets/js/mrw_parallax.js"></script>
{% endif %}
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
  	TeX: {
      equationNumbers: {
        autoNumber: "AMS"
      }
    },
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      displayMath: [ ['$$','$$'] ],
      processEscapes: true
    }
  });
</script>
<script type= "text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/latest.js?config=TeX-MML-AM_CHTML' async></script>
