.image-container {
    display: flex;
    height: 100%;
    width: 100%;
    max-width: 100%;
    position: relative;
}

.day {
    position: absolute;
    opacity: 1.0;
    transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
}

.day:hover {
    opacity: 0;
    transition: opacity .55s ease-in-out;
    -moz-transition: opacity .55s ease-in-out;
    -webkit-transition: opacity .55s ease-in-out;
}​

.night {
    position: relative;
}